@font-face {
  font-family: "iA Writer Mono S";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/assets/iAWriterMonoS-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "iA Writer Mono S";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url("/assets/iAWriterMonoS-Italic.woff2") format("woff2");
}

@font-face {
  font-family: "iA Writer Mono S";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("/assets/iAWriterMonoS-Bold.woff2") format("woff2");
}

@font-face {
  font-family: "iA Writer Quattro S";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/assets/iAWriterQuattroS-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "iA Writer Quattro S";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url("/assets/iAWriterQuattroS-Italic.woff2") format("woff2");
}

@font-face {
  font-family: "iA Writer Quattro S";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("/assets/iAWriterQuattroS-Bold.woff2") format("woff2");
}

@font-face {
  font-family: "LXGWWenKaiLite";
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: url("/assets/LXGWWenKaiLite-Regular.woff2") format("woff2");
}


:root,
:host {
  --font-serif: ui-serif, system-ui;
  --font-mono: "iA Writer Mono S", system-ui;
  --font-sans: "iA Writer Quattro S", "LXGWWenKaiLite", ui-sans-serif, system-ui, sans-serif;
}
